<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light">
    <title>{{ title }}</title>
    <script src="/colorSwitch.js" defer></script>
    <link rel="stylesheet" href="/styles/page.css">
</head>
<body>
    <header>
        <nav class="navigation-menu wrapper">
            {% if isHomePage == false %}
            <a href="/" class="page-logo navigation-menu-home" data-is-on-home="true">Abhinav Thota</a>
            {% endif %}
            <ul role="list" data-buttons="true">
                <li><a href="/projects">projects</a></li>
                <li><a href="/blog">blog</a></li>
                <li><a href="/about">about</a></li>
            </ul>
            <div id="color-switch-toggle">CT</div>
        </nav>
    </header>
    <main>
        <div>
            {{content | safe}}
        </div>
    </main>
</body>
</html>