/* Roboto Mono Regular */
@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    src: url(RobotoMono-VariableFont_wght.ttf) format('truetype');
}

/* Roboto Mono Bold */
@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 700;
    src: url(RobotoMono-VariableFont_wght.ttf) format('truetype');
}
