/* Roboto Flex Light */
@font-face {
    font-family: "Roboto Flex";
    font-style: normal;
    font-weight: 300;
    src: url(RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf) format('truetype');
}

/* Roboto Flex Regular */
@font-face {
    font-family: "Roboto Flex";
    font-style: normal;
    font-weight: 400;
    src: url(RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf) format('truetype');
}

/* Roboto Flex Medium */
@font-face {
    font-family: "Roboto Flex";
    font-style: normal;
    font-weight: 500;
    src: url(RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf) format('truetype');
}

/* Roboto Flex Semi Bold */
@font-face {
    font-family: "Roboto Flex";
    font-style: normal;
    font-weight: 600;
    src: url(RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf) format('truetype');
}

/* Roboto Flex Bold */
@font-face {
    font-family: "Roboto Flex";
    font-style: normal;
    font-weight: 700;
    src: url(RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf) format('truetype');
}
