/* Roboto Slab Light */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 300;
    src: url(RobotoSlab-VariableFont_wght.ttf) format('truetype');
}

/* Roboto Slab Regular */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: url(RobotoSlab-VariableFont_wght.ttf) format('truetype');
}

/* Roboto Slab Medium */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 500;
    src: url(RobotoSlab-VariableFont_wght.ttf) format('truetype');
}

/* Roboto Slab Semi Bold */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 600;
    src: url(RobotoSlab-VariableFont_wght.ttf) format('truetype');
}

/* Roboto Slab Bold */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    src: url(RobotoSlab-VariableFont_wght.ttf) format('truetype');
}
