/* Roboto Condensed Regular */
@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    src: url(RobotoCondensed-VariableFont_wght.ttf) format('truetype');
}

/* Roboto Condensed Bold */
@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    src: url(RobotoCondensed-VariableFont_wght.ttf) format('truetype');
}