---
layout: base.njk
title: Page Not Found
permalink: /404.html
eleventyExcludeFromCollections: true
---

<section class="wrapper section" data-padding="wide">
    <div class="flow not-found-section">
        <h1 data-heading-size="large">404</h1>
        <h2 data-heading-size="small">Page Not Found</h2>
        <p>
            The page you're looking for doesn't exist, has been moved, or is being built as we speak.
        </p>
        <a href="/" data-button-type="accent">
            Go Home
        </a>
    </div>
</section>