@import url('./styles/Roboto_Flex/roboto_flex.css');
@import url('./styles/Roboto_Slab/roboto_slab.css');
@import url('./styles/Roboto_Mono/roboto_mono.css');
@import url('./styles/Roboto_Condensed/roboto_condensed.css');

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    scroll-padding: 2rem;
  }
  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,

  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}
@layer global_vars {
    /* primitives */

    :root {
    /* Neutrals - Light Theme */
        --clr-white-100: hsla(35, 30%, 98%, 1);
        --clr-white-200: hsla(35, 25%, 96%, 1);
        --clr-white-300: hsla(35, 20%, 92%, 1);
        --clr-white-400: hsla(35, 15%, 85%, 1);
        --clr-white-500: hsla(35, 12%, 75%, 1);
        
        --clr-gray-400: hsla(35, 8%, 58%, 1);
        --clr-gray-500: hsla(35, 8%, 40%, 1);
        --clr-gray-600: hsla(35, 8%, 28%, 1);
        --clr-gray-700: hsla(30, 10%, 18%, 1);
        --clr-gray-800: hsla(30, 12%, 13%, 1);
        
        /* Neutrals - Dark Theme */
        --clr-blue-100: hsla(210, 65%, 95%, 1);
        --clr-blue-200: hsla(210, 60%, 90%, 1);
        --clr-blue-300: hsla(215, 25%, 73%, 1);
        --clr-blue-400: hsla(215, 20%, 57%, 1);
        --clr-blue-500: hsla(215, 25%, 40%, 1);
        
        --clr-navy-100: hsla(210, 35%, 26%, 1);
        --clr-navy-200: hsla(212, 40%, 21%, 1);
        --clr-navy-300: hsla(214, 43%, 19%, 1);
        --clr-navy-400: hsla(214, 45%, 15%, 1);
        --clr-navy-500: hsla(214, 50%, 12%, 1);
        
        /* Accents */
        --clr-orange-300: hsla(25, 85%, 67%, 1);
        --clr-orange-400: hsla(25, 78%, 62%, 1);
        --clr-orange-500: hsla(25, 65%, 54%, 1);
        
        /* font family */
        --ff-body: "Roboto Flex", sans-serif;
        --ff-heading: "Roboto Slab", serif;
        --ff-caption: "Roboto Condensed", sans-serif;
        --ff-subheading: "Roboto Condensed", sans-serif;
        /* font sizes */
        --fs-300: 0.875rem;
        --fs-400: 1rem;
        --fs-500: 1.125rem;
        --fs-600: 1.25rem;
        --fs-700: 1.5rem;
        --fs-800: 2rem;
        --fs-900: 3.75rem;
        --fs-1000: 3.75rem;
        @media (width > 760px) {
            --fs-300: 0.875rem;
            --fs-400: 1rem;
            --fs-500: 1.25rem;
            --fs-600: 1.5rem;
            --fs-700: 2rem;
            --fs-800: 3rem;
            --fs-900: 5rem;
            --fs-1000: 7.5rem;
        }
    }
    /* semantic layer */
    :root {
        --text-main: var(--clr-gray-800);
        --text-high-contrast: var(--clr-white-100);
        --text-brand: var(--clr-orange-500);
        --text-brand-light: var(--clr-orange-400);

        --background-accent-light: var(--clr-orange-300);
        --background-accent-main: var(--clr-orange-400);
        --background-accent-dark: var(--clr-orange-500);

        --background-extra-light: var(--clr-white-100);
        --background-light: var(--clr-white-200);
        --background-main: var(--clr-white-300);
        --background-dark: var(--clr-white-400);
        --background-extra-dark: var(--clr-white-500);

        --font-size-heading-sm: var(--fs-700);
        --font-size-heading-regular: var(--fs-800);
        --font-size-heading-lg: var(--fs-900);
        --font-size-heading-xl: var(--fs-1000);

        --font-size-sm: var(--fs-300);
        --font-size-regular: var(--fs-400);
        --font-size-md: var(--fs-500);
        --font-size-lg: var(--fs-600);

        --border-radius-1: 0.25rem;
        --border-radius-2: 0.5rem;
        --border-radius-3: 0.75rem;
        @media (prefers-color-scheme: dark) {
            --text-main: var(--clr-blue-100);
            --text-high-contrast: var(--clr-gray-800);
            --background-extra-light: var(--clr-navy-100);
            --background-light: var(--clr-navy-200);
            --background-main: var(--clr-navy-300);
            --background-dark: var(--clr-navy-400);
            --background-extra-dark: var(--clr-navy-500);
        }
    }   
}
@layer base {
    html {
        font-family: var(--ff-body);
        line-height: 1.6;
    }
    body {
        font-family: var(--ff-body);
        font-size: var(--font-size-md);
        font-size: var(--font-size-regular);
        color: var(--text-main);
        background-color: var(--background-main);
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--ff-heading);
        font-size: var(--font-size-heading-regular);
        color: var(--text-main);
    }
}